@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* Variables */
:root {
  /* Dark Colors */
  --dark-bg-color: #222831;
  --dark-text-color: #eeeeee;
  --dark-sm-color: #393e46;
  --dark-btn-color: #333841;
  --dark-hr-color: #353b43;

  /* Light Colors */
  --light-bg-color: #ece5c7;
  --light-text-color: #354259;
  --light-sm-color: #393e46;
  --light-btn-color: #cdc2ae;
  --light-hr-color: #cdc2ae;

  /* Main Variables */
  --main-color: #00adb5;
}
/* End Variables */

/* Theme */
body.dark {
  --bg-color: var(--dark-bg-color);
  --text-color: var(--dark-text-color);
  --sm-color: var(--dark-sm-color);
  --btn-color: var(--dark-btn-color);
  --hr-color: var(--dark-hr-color);
}
body.light {
  --bg-color: var(--light-bg-color);
  --text-color: var(--light-text-color);
  --sm-color: var(--light-sm-color);
  --btn-color: var(--light-btn-color);
  --hr-color: var(--light-hr-color);
}
/* End Theme */

/* Main */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
/* End Main */

/* Scroll Bar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--btn-color);
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
/* End Scroll Bar */

/* Container */
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Container */

/* Components */
.section {
  width: 100%;
  height: 100vh;
  padding: 30px 0;
}
.btn {
  border: none;
  padding: 10px 25px;
  color: var(--text-color);
  cursor: pointer;
  border-radius: 20px;
  font-weight: 500;
  transition: 0.3s opacity ease-in-out;
}
.btn:hover {
  opacity: 0.8;
}
.btn.btn-main {
  background-color: var(--main-color);
}
.btn.btn-dark {
  background-color: var(--btn-color);
}
/* End Components */

/* Sweat Alert */
.swal2-popup.swal2-modal.swal2-icon-success.swal2-show {
  background-color: var(--btn-color) !important;
  color: var(--text-color) !important;
}
.swal2-success-circular-line-left,
.swal2-success-circular-line-right,
.swal2-success-fix {
  background-color: var(--btn-color) !important;
}
.swal2-success-ring {
  border-color: green !important;
}
.swal2-success-line-tip,
.swal2-success-line-long {
  background-color: green !important;
}
/* End Sweat Alert */